<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	<link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/e1e7e2dc84.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="lib/owlCarousel/dist/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="lib/owlCarousel/dist/assets/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/categoria.css">
	<link rel="stylesheet" type="text/css" href="css/destaques.css">
	<link rel="stylesheet" type="text/css" href="css/produtos.css">
	<link rel="stylesheet" type="text/css" href="css/sobre.css">
	<link rel="stylesheet" type="text/css" href="css/newsletter.css">
	<link rel="stylesheet" type="text/css" href="css/copyright.css">
	<link rel="stylesheet" type="text/css" href="css/rodape.css">
	<title>FLORA</title>
</head>
<body>
	<header>
		<div id="header-background" class="top-header">
			<div class="top-header-content">
				<ul class="top-header-content-lista1">
					<li class="lista1-link"><i class="fas fa-phone-alt"></i><span>telefones</span>: <a href="tel:+(18)3302-1839">(18)3302-1839</a></li>
					<li class="lista1-link"><i class="fas fa-comment"></i><a href="#">Chat</a></li>
				</ul>
				<ul class="top-header-content-lista2">
					<li class="lista2-link"><a href="#">Blog</a></li>
					<li class="lista2-link"><a href="#">Fale Conosco</a></li>
				</ul>
			</div>
		</div>
		<div id="header-background">
			<div class="header-content">
				<div id="logo">
					<span id="logo-menu"><a href="#"><i class="fas fa-bars"></i>
					<ul class="menu-detalhes">
						<li>Joias</li>
						<li>Casamento</li>
						<li>Relógios</li>
						<li><i class="fas fa-user"></i> Minha Conta</li>
					</ul>
					</a></span>
					<span href="" id="logo-imagem">flora</span>
				</div>
				<div id="header-search">
					<form action="#">
						<input type="search" id="search" name="search" placeholder="Digite o que busca">
						<input type="submit" id="botao">
					</form>
				</div>
				<div class="login-content">
					<ul class="user-list">
						<li><a href="">entrar</a></li>
					</ul>
				</div>
				<div class="minicart-header">
					<div class="minicart-conteudo">
						<a href="#" class="minicart-icon"><i class="fas fa-shopping-bag"></i>
							<ul class="minicart-wrapper">
								<li class="loc"><img src="images/brinco-ouro-pedraverde100.jpg" alt=""></li>
								<li class="minicart-wrapper-texto loc">Brinco Ouro 18K Gota com Pedras Brancas e Pedra Verde</li>
								<li id="valor" class="minicart-wrapper-texto loc">Qtd 1</li>
								<li class="minicart-wrapper-texto1">Finalizar</li>
							</ul>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div id="categorias">
		<div>
			<ul class="lista">
				<li class="lista-item"><a href="#">Joias</a></li>
				<li class="lista-item"><a href="#">Promoção</a></li>
				<li class="lista-item"><a href="#">Destaques</a></li>
				<li class="lista-item"><a href="#">Sobre</a></li>
			</ul>
		</div>
	</div>
	<!--Criar categorias-->
	<div id="home-banner">
		<ul class="home-banner-content owl-carousel">
			<li><img src="images/pexels-cottonbro-4974361-banner1.jpg" alt=""></li>
			<li><img src="images/pexels-cottonbro-4974395-banner2.jpg" alt=""></li>
			<li><img src="images/pexels-cottonbro-4974549-banner3.jpg" alt=""></li>
		</ul>
	</div>
	<main>
		<!--Bloco falando sobre a loja-->
		<h2 id="home-titulo">Destaques</h2>
		<ul class="home-produtos-destaque owl-carousel">
			<li class="produtos__destaque">
				<img src="images/anel-prata-lively.jpg" alt="">
				<div><p class="produtos__grade-descricao">Anel Prata Lively</p></div>
				<div><p class="produtos__grade-preco">R$600,00</p></div>
				<div><p class="produtos__grade-cartao">4x de R$150,00</p></div>
				<div><a href="" class="produtos__grade-botao">Comprar</a></div>
			</li>
			
			<li class="produtos__destaque">
				<img src="images/pulseira-trevo.jpg" alt="">
				<div><p class="produtos__grade-descricao">Pulseira com Pingente Trevo Ouro</p></div>
				<div><p class="produtos__grade-preco">R$300,00</p></div>
				<div><p class="produtos__grade-cartao">4x de R$75,00</p></div>
				<div><a href="" class="produtos__grade-botao">Comprar</a></div>
			</li>
			
			
			<li class="produtos__destaque">
				<img src="images/brinco-prata-pedralilas.jpg" alt="">
				<div><p class="produtos__grade-descricao">Brinco Prata Gota com Pedra Lilás</p></div>
				<div><p class="produtos__grade-preco">R$700,00</p></div>
				<div><p class="produtos__grade-cartao">4x de R$175,00</p></div>
				<div><a href="" class="produtos__grade-botao">Comprar</a></div>
			</li>
			
			
			<li class="produtos__destaque">
				<img class="imagem-brinco-lilas" src="images/anel-ouro-pedrabranca.jpg" alt="">
				<div><p class="produtos__grade-descricao">Anel Ouro 18K em V com Pedras Brancas</p></div>
				<div><p class="produtos__grade-preco">R$250,00</p></div>
				<div><p class="produtos__grade-cartao">4x de R$62,50</p></div>
				<div><a href="" class="produtos__grade-botao">Comprar</a></div>
			</li>

			<li class="produtos__destaque">
				<img class="imagem-anel-prata-pedrabranca" src="images/brinco-prata-pedra.jpg" alt="">
				<div><p class="produtos__grade-descricao">Brinco Prata Ponto de Luz</p></div>
				<div><p class="produtos__grade-preco">R$300,00</p></div>
				<div><p class="produtos__grade-cartao">4x de R$75,00</p></div>
				<div><a href="" class="produtos__grade-botao">Comprar</a></div>
			</li>
			
			<li class="produtos__destaque">
				<img src="images/pingente-ouro18k-menina.jpg" alt="">
				<div><p class="produtos__grade-descricao">Pingente Menina Ouro</p></div>
				<div><p class="produtos__grade-preco">R$300,00</p></div>
				<div><p class="produtos__grade-cartao">4x de R$75,00</p></div>
				<div><a href="" class="produtos__grade-botao">Comprar</a></div>
			</li>
			
			
			<li class="produtos__destaque">
				<img src="images/brinco-ouro-perola.jpg" alt="">
				<div><p class="produtos__grade-descricao">Brinco Palito com Pérola de Ouro</p></div>
				<div><p class="produtos__grade-preco">R$200,00</p></div>
				<div><p class="produtos__grade-cartao">4x de R$50,00</p></div>
				<div><a href="" class="produtos__grade-botao">Comprar</a></div>
			</li>
			
		</ul>
		<!--Bloco falando sobre a loja-->
		<div class="sobre">
			<div class="sobre__conteudo">
				<div class="sobre__conteudo-titulo">
					<p>quem somos</p>
				</div>
				<div class="sobre__conteudo-texto">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quisquam dolores commodi aperiam deleniti maiores iste officiis, rem dicta consectetur atque, dolorum recusandae, ullam ea voluptatem. Quisquam minus recusandae quae?
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias iste velit deserunt sed ad culpa blanditiis ducimus facilis repellat. Suscipit fugit eveniet sint molestiae id quos accusamus dolor, nam quas.
					</p>
				</div>
			</div>
			

		</div>

		<ul id="home-produtos-grade">
			<li  class="produtos__grade">
				<img src="images/anel-ouro--pedrabranca.jpg" alt="">
				<div><p class="produtos__grade-descricao">Anel Ouro 18K em V com Pedras Brancas</p></div>
				<div><p class="produtos__grade-preco">R$1164,50</p></div>
				<div><p class="produtos__grade-cartao">4x de R$</p></div>
				<div><a href="" class="produtos__grade-botao">Comprar</a></div>
			</li>
			
			<li class="produtos__grade">
				<img src="images/meia-alianca-ouro-pedraazul.jpg" alt="">
				<div><p class="produtos__grade-descricao">Meia Aliança Prata Azul Média Ouro 18K</p></div>
				<div><p class="produtos__grade-preco">R$165,70</p></div>
				<div><p class="produtos__grade-cartao">4x de R$</p></div>
				<div><a href="" class="produtos__grade-botao">Comprar</a></div>
			</li>
			
			
			<li class="produtos__grade">
				<img src="images/brinco-ouro-pedraverde.jpg" alt="">
				<div><p class="produtos__grade-descricao">Brinco Ouro 18K Gota com Pedras Brancas e Pedra Verde</p></div>
				<div><p class="produtos__grade-preco">R$899,90</p></div>
				<div><p class="produtos__grade-cartao">4x de R$</p></div>
				<div><a href="" class="produtos__grade-botao">Comprar</a></div>
			</li>
			
			
			<li class="produtos__grade">
				<img src="images/colar-prata-pontodeluz-pedralilas.jpg" alt="">
				<div><p class="produtos__grade-descricao">Colar Prata Ponto de Luz com Pedras Brancas e Pedra Lilás</p></div>
				<div><p class="produtos__grade-preco">R$179,00</p></div>
				<div><p class="produtos__grade-cartao">4x de R$</p></div>
				<div><a href="" class="produtos__grade-botao">Comprar</a></div>
			</li>
			
			
			<li class="produtos__grade">
				<img src="images/colar-prata-pontodeluz-pedraverde.jpg" alt="">
				<div><p class="produtos__grade-descricao">Colar Prata Ponto de Luz com Pedras Brancas e Pedra Verde</p></div>
				<div><p class="produtos__grade-preco">R$179,00</p></div>
				<div><p class="produtos__grade-cartao">4x de R$</p></div>
				<div><a href="" class="produtos__grade-botao">Comprar</a></div>
			</li>
			<li class="produtos__grade">
				<img src="images/anel-solitario-pratapedralilas.jpg" alt="">
				<div><p class="produtos__grade-descricao">Anel Solitário Prata Pedra Lilás</p></div>
				<div><p class="produtos__grade-preco">R$143,91</p></div>
				<div><p class="produtos__grade-cartao">4x de R$</p></div>
				<div><a href="" class="produtos__grade-botao">Comprar</a></div>
			</li>
			
			
			<li class="produtos__grade">
				<img src="images/anel-solitario-prata-pedravermelha.jpg" alt="">
				<div><p class="produtos__grade-descricao">Anel Solitário Prata Pedra Vermelha</p></div>
				<div><p class="produtos__grade-preco">R$143,91</p></div>
				<div><p class="produtos__grade-cartao">4x de R$</p></div>
				<div><a href="" class="produtos__grade-botao">Comprar</a></div>
			</li>
			
			
			<li class="produtos__grade">
				<img src="images/brinco-argola.jpg" alt="">
				<div><p class="produtos__grade-descricao">Brincos Argola Oval Grande Ouro 18K</p></div>
				<div><p class="produtos__grade-preco">R$440,91</p></div>
				<div><p class="produtos__grade-cartao">4x de R$</p></div>
				<div><a href="" class="produtos__grade-botao">Comprar</a></div>

			</li>

			<li class="produtos__grade">
				<img src="images/meia-alianca-prata-pedraverde.jpg" alt="">
				<div><p class="produtos__grade-descricao">Meia Aliança Prata Navete Verde</p></div>
				<div><p class="produtos__grade-preco">R$239,90</p></div>
				<div><p class="produtos__grade-cartao">4x de R$</p></div>
				<div><a href="" class="produtos__grade-botao">Comprar</a></div>
				
			</li>
			
			
		</ul>
		
	</main>
	<footer>
		<!--Newsletter-->
		<div class="envio">
			<div class="envio__conteudo">
				<div class="envio__conteudo-chamada">
					<p>Acompanhe nossas novidades</p>
					<p>Cadastre seu e-mail para receber informações exclusivas</p>
				</div>
				<div class="envio__conteudo-texto">
					<input type="email" name="email" id="email" placeholder="Digite seu e-mail aqui">
					<input type="submit" value="cadastrar" id="botao-email">
				</div>
			</div>
		</div>
		<!--Conteúdo do rodapé-->
		<div class="rodape">
			<div class="rodape__loja">
				<div class="rodape__loja-atendimento">
					<div>Atendimento</div>
					<div>
						<p>Seg à Sexta - 8 às 18 horas</p>
						<p>flora@sac.com.br</p>
					</div>
				</div>
				<div class="rodape__loja-sobre">
					<div>Sobre Nós</div>
					<div><ul>
						<li><a href="#">Sobre Nós</a></li>
						<li><a href="#">Política de Frete</a></li>
						<li><a href="#">Política de Privacidade</a></li>
						<li><a href="#">Termos e Condições</a></li>
					</ul></div>
				</div>
				<div class="rodape__loja-redes">
					<div>Redes Sociais</div>
					<div><ul>
						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fab fa-youtube"></i></a></li>
					</ul></div>
				</div>
			</div>
			<div class="rodape__financeiro">
				<div class="rodape__financeiro-pag">
					<div>Formas de Pagamento</div>
					<div>
						<img src="images/visa.png" alt="">
						<img src="images/eurocard_mastercard.png" alt="">
						<img src="images/american_express.png" alt="">
						<img src="images/boleto.png" alt="">
						<img src="images/paypal.png" alt="">
						<img src="images/pix-logo.png" alt="">
					</div>
				</div>
				<div class="rodape__financeiro-envio">
					<div>Formas de Envio</div>
					<div>
						<img src="images/sedex.png" alt="">
						<img src="images/pac-correios-logo.png" alt="">
					</div>
				</div>
				<div class="rodape__financeiro-selo">
					<div>Selo de Segurança</div>
					<div>
						<img src="images/reclame-aqui.jpg" alt="">
						<img src="images/google.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<!--Assinatura Copyright-->
		<div class="copy">
			<p>Copyright &copy; <span>2021</span> Flora. Todos os direitos reservados</p>
		</div>
	</footer>
	<script src="js/jquery-3.5.1.min.js"></script>
	<script src="lib/owlCarousel/dist/owl.carousel.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>