.imagem-anel-ouro-pedrabranca {
    background-image: url("../images/anel-ouro-pedrabranca.jpg");
    background-repeat: no-repeat;
}

.imagem-anel-prata-pedrabranca {
    background-image: url("../images/anel-prata-pedrabranca.jpg");
}

.imagem-brinco-ouro-perola {
    background-image: url("../brinco-ouro-perola.jpg");
}

.imagem-brinco-prata-lilas {
    background-image: url("../brinco-prata-pedralilas.jpg");
}

.imagem-colar-lilas {
    background-image: url("../colar-prata-pontodeluzpedralilas.jpg");
}

.imagem-anel-prata-pedraverde {
    background-image: url("../meia-alianca-prata-pedraverde.jpg");
}

.imagem-brinco-ouro-pedraverde {
    background-image: url("../brinco-ouro-pedraverde.jpg");
}

.imagem-colar-prata-verde {
    background-image: url("../colar-prata-pontodeluzpedraverde.jpg");
}

.imagem-anel-prata-lilas {
    background-image: url("../anel-solitario-prata-pedralilas.jpg");
}

.imagem-anel-prata-vermelho {
    background-image: url("../anel-solitario-prata-pedravermelha.jpg");
}

.imagem-brinco-prata-verde {
    background-image: url("../brinco-ouro-pedraverde.jpg");
}